/* Write your CSS here */
.chart-name {
  color: white;
  font-size: 25px;
}
.vaccination-by-coverage-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #1c1c2b;
  padding: 20px;
}
